@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  p {
    @apply text-gray-600;
    font-family: "Rubik", sans-serif;
  }
  h1 {
    @apply text-2xl;
    @apply text-gray-700;
    font-weight: bold;
  }
  h2 {
    @apply text-xl;
    @apply text-gray-700;
    font-weight: bold;
  }
  h3 {
    @apply text-lg;
    font-weight: medium;
  }
}
